{% extends "custom/base.html" %}
{% load i18n %}
{% block title %}Перелік моделей{% endblock title %}
{% block content %}
    {% if model_list %}
    <table class="table">
        <thead>
            <th>Назва</th>
            <th>Час створення</th>
            <th>Дії</th>
        </thead>
        <tbody>
            {% for model in model_list %}
                <tr>
                    <td>{{model.name}}</td>
                    <td>{{model.created_at}}</td>
                    <td><a href="{% url "model-info" model_id=model.model_id %}" class="btn btn-primary">Переглянути</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Жодних моделей ще не створено</p>
    {% endif %}
    <a class="btn btn-success" href="{% url "model-create" %}">Створити Модель</a>
{% endblock content %}