{% extends "custom/base.html" %}
{% load i18n %}
{% block title %}Перелік моделей{% endblock title %}
{% block content %}
    {% if model_list %}
    <h1 class="mt-2">Моделі</h1>
    <table class="mt-4 table table-bordered w-50 mx-auto">
        <thead>
            <th>Назва</th>
            <th>Час створення</th>
            <th>Дії</th>
        </thead>
        <tbody>
            {% for model in model_list %}
                <tr>
                    <td>{{model.name}}</td>
                    <td>{{model.created_at}}</td>
                    <td>
                        <a href="{% url "model-info" model_id=model.model_id %}" class="btn btn-primary">Переглянути</a>
                        <a href="{% url "model-performance" model_id=model.model_id %}?generate=true"
                        onclick="alert('Закрийте повідомлення та зачекайте: відбувається формування даних...');"
                        class="btn btn-secondary">Дослідити роботу</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Жодних моделей ще не створено</p>
    {% endif %}
    <a class="btn btn-success" href="{% url "model-create" %}">Створити Модель</a>
{% endblock content %}