{% extends "custom/base.html" %}
{% load i18n %}
{% block title %}Сторінка моделі{% endblock title %}
{% block content %}
    <p>{{model.name}}</p>
    <p>{{model.created_at}}</p>
    <p>
        Ознаки:
        <p>
            <ul>
                {% for feature_in_model in features_in_model %}
                    <li>{{feature_in_model.feature.name}} - {{feature_in_model.feature.description}}</li>
                {% endfor %}
            </ul>
        </p>
    </p>
    <p>
        Параметри:
        <p>
            <ul>
                {% for parameter_in_model in parameters_in_model %}
                    <li>{{parameter_in_model.parameter.name}} = {{parameter.value}} - {{parameter_in_model.parameter.description}}</li>
                {% endfor %}
            </ul>
        </p>
    </p>
    <p>
        Дії:
        <a href="" class="btn btn-primary">Редагувати</a>
        <a href="" class="btn btn-danger">Видалити</a>
    </p>
{% endblock content %}